<h1>New Product</h1>
<form action="/contacts" method="post">
<div>
  first_name <input type="text" name="first_name">
</div>
<div>
  last_name <input type="text" name="last_name">
</div>
<div>
  email <input type="text" name="email">
</div>
<div>
  phone_number <input type="text" name="phone_number">
</div>
<div>
  middle_name <input type="text" name="middle_name">
</div>
<div>
  bio <input type="text" name="bio">
</div>
<div>
  user_id <input type="number" name="user_id">
</div>
<input type="submit" value="create product">
</form>

